body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
     background-image: url(https://avatars.mds.yandex.net/i?id=341d2e49d78f3ca8b6fec2700af2dd21_l-9233044-images-thumbs&n=13);
}

h1 {
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0px auto;
    padding: 30px;
    background-image: url(https://static.relax.by/images/common/wysiwyg/2018/02/79c548fc0bc940968a5dc773ea4714f0.jpg);
    border-radius: 15px;
    box-shadow: 0 20px 50px rgb(79, 135, 255);
}

.huytainer {
    max-width: 200px;
    margin: 20px auto;
    padding: 50px;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    box-shadow: 0 20px 50px rgb(79, 135, 255);
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 1s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

h2 {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black
}

h3 {    
    color: rgb(255, 255, 255);

}

button {
    background-color: #ffffff6b;
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 5px;
}




